<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <a href="/">Home</a>
    <h2>Your form has been submitted with the following data:</h2>
    <h3>{{message.name}}</h3>
    <h3>{{message.age}}</h3>
    <h3>{{message.email}}</h3>

</body>
</html>