<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    {{#if data.name}}
    <strong>Success</strong>
    {{/if}}
    
    {{message}}
    

    <form action="/" method="POST">
        <div>
            Name: <input type="text" name="name">
        </div>
        <div>
            Age: <input type="text" name="age">
        </div>
        <div>
            Email: <input type="email" name="email">
        </div>
        <div>
            <input type="submit" value="Submit now">
        </div>
    
    </form>
</body>
</html>