<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <div>
        <a href="/">Home</a>
    </div>
    
     {{#if data.name}}
    <strong>Success</strong>
    <p>Information saved for {{data.name}}</p>
    {{/if}}
    
    {{message}}

</body>
</html>